body {
    background-color: #F5F5F5;
    color: 757575;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/* цвет основного текста #212121  */
/* вторичный цвет #757575 */
/* белый цвет #FFFFFF */
/* акцент голубой цвет #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* футер контакт rgba(255, 255, 255, 0.6) */
.logo {
    color: #000000;
}
.logo:focus {
    color: #2196F3;
}
.web {
    color: #2196F3;
}
.list {
    list-style: none;
}
/* Menu Nav */
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
/* Contact */
.auth-nav  {

}
/* order */
.order {

}
/* Features */
.section-title {
    color: #212121;
}