body {
    background-color: #F5F5F5;
    color: 757575;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* цвет основного текста #212121  */
/* вторичный цвет #757575 */
/* белый цвет #FFFFFF */
/* акцент голубой цвет #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* футер контакт rgba(255, 255, 255, 0.6) */
.logo {
    color: #000000;
}
.web {
    color: #2196F3;
}
.list {
    list-style: none;
}