body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* цвет основного текста #212121  */
/* вторичный цвет #757575 */
/* белый цвет #FFFFFF */
/* голубой цвет #2196F3 */